[Unit]
Description=oort syndicate daemon
After=syslog.target network.target

[Service]
Type=simple
EnvironmentFile=-/etc/default/synd
ExecStart=/root/go/bin/synd
RestartSec=5
Restart=on-failure

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=synd

LimitCPU=infinity
LimitFSIZE=infinity
LimitDATA=infinity
LimitSTACK=infinity
LimitCORE=infinity
LimitRSS=infinity
LimitNOFILE=infinity
LimitAS=infinity
LimitNPROC=infinity
LimitMEMLOCK=infinity
LimitLOCKS=infinity
LimitSIGPENDING=infinity
LimitMSGQUEUE=infinity
LimitNICE=infinity
LimitRTPRIO=infinity
LimitRTTIME=infinity

[Install]
WantedBy=multi-user.target
