{
    "CN": "localhost",
    "hosts": [
        "localhost",
        "127.0.0.1",
        "TENDOTME",
        "HOSTNAMEME"
    ],
    "key": {
        "algo": "ecdsa",
        "size": 256
    },
    "names": [
        {
            "C": "US",
            "L": "TX",
            "ST": "San Antonio"
        }
    ]
}

